*{
    margin: 0;
    padding: 0;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.dark-1{
    color: #181818;
}
.hire{
    margin-right: 230px;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    width: 150px;
    height: 64px;
    border-radius: 5px;
    border: none;
    padding: 18px 18px;
    font-size: 20px;
    font-weight: 700;
    margin-right: 50px;
}



/* Nav styles */

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;

}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li {
    list-style: none;
    margin-right: 51px;
}
nav li a {
    text-decoration: none;
    font-size: 20px;
}
nav ul {
    display: flex;
    align-items: center;
}

/* banner style*/
.banner-grettings{
font-size: 45px;
font-weight: 600;
}
.banner-heading{
    font-size: 85px;
    font-weight: 800;
}
.banner{
    display:flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
    
}
.banner-profile-pic{
    width: 584px;
    margin-right: 38px;


}
.banner-content{
    width: 585px;
}
